/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/* Header */
header {
	height: 65px;
	width: 100%;
	background-color: rgba(241, 241, 241, 0.9);
	position: fixed;
	top: 0;
	z-index: 10;
	overflow: hidden;
}

.header-left {
	float: left;
	padding-top: 33px;
}

.header-left a {
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.header-list a {
	float: left;
	padding: 33px 20px;
}

.btn {
	padding: 33px 20px;
	color: black;
	opacity: 0.8; 
}

.btn:hover {
	opacity: 1;
	background-color: cyan;
	transition: all 0.5s;
}

.header-right {
	float: right;
	background-color: rgba(0, 255, 255, 0.3);
	transition: all 0.5s;
}

.header-right:hover {
	background-color: rgba(0, 255, 255, 0.5);
}

.header-right a {
	line-height: 65px;
  	padding: 0 25px;
  	color: white;
  	display: block;
}